$dark-gray: #404040;
$medium-gray: #5E6166;
$light-gray: #8F8F8F;
$blue: #429BF4;
$blue-hover: #3082D4;
$green: #68CB6C;

$page-background: #F9FAFA;
$button-background: #F3F3F3;
$button-background-hover: #DAECFE;